<div class="container-fluid text-center">
    <h1>About us!</h1>
    <p>We're devmatch - we annihalate others, as is customary for any
    computer job, for we have no soul - we are bros.
    </p>
</div>